* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


.dark-background {
    background-color: #5A6D50;
}

/* header */

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 48px;
    gap: 32px;
}

#logo {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    display: flex;
    flex-basis: 500px;
}

ul {
    font-size: 18px;
    display: flex;
    gap: 64px;
}

.menu-list {
    display: flex;
    flex-basis: 500px;
    /* border: 1px solid white; */
    justify-content: flex-end;
    flex-wrap: wrap;
}

li {
    list-style: none;
    text-align: center;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

button {
    background-color: #B38E6C;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    border: none;
    border-radius: 32px;
    width: 250px;
    margin-top: 32px;
}

/* headerbottom */

.header-bottom {
    display: flex;
    padding: 48px;
    color: #f9faf8;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 32px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
}

h3 {
    font-size: 18px;
    color: #f9faf8;
}

.text {
    display: flex;
    flex-basis: 500px;
    flex-direction: column;
}

.header-pic {
    display: flex;
    max-width: 500px;
    height: auto;
    width: 100%;
    border-radius: 16px;
}


/* body */

.body {
    display: flex;
    gap: 64px;
    padding: 48px;
    justify-content: center;
    flex-wrap: wrap;
}

.cards {
    width: 200px;
    padding: 10px;
    
}

.pic {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 16px;
    margin-bottom: 16px;
}

.cat-pic {
    width: 200px;
    height: auto;
}

h2 {
    font-size: 32px;
    color: #1f2637;
    display: flex;
    justify-content: center;
    margin-top: 48px;
    flex-wrap: wrap;
    text-align: center;
}

h4,
h5 {
    color: gray;
    text-align: center;
}

/* midbody */

.midbody {
    display: flex;
    justify-content: center;
    background-color: #F2F2DB;
    padding: 48px;
}

h1.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    max-width: 750px;
}

/* lowerbody */

.calltoaction {
    display: flex;
    background-color: #B38E6C;
    justify-content: center;
    margin: 176px;
    padding: 48px;
    border-radius: 24px;    
}

.ctabutton {
    border: 2px solid white;
    justify-content: center;
}

.calltoaction h2 {
    margin: 0;
    color: white;
    padding: 0;
}

.ctatext {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    font-size: 28px;
    max-width: 500px;
}

/* footer */


.footer {
    display: flex;
    justify-content: center;
    background-color: #5A6D50;
    padding: 24px;
}

.footer h3 {
    font-weight: lighter;
    font-size: 18px;
}